Repository cisagov/skeleton-python-library, pull requests merged in 2020-01, with the labels that each got.

#30 Pull in Upstream and Run pre-commit
  .isort.cfg
  .pre-commit-config.yaml
  setup.py
  src/example/__init__.py
  src/example/example.py
  tests/conftest.py
  tests/test_example.py
Labels: maintenance

#31 Add Scripts for Bumping Versions and Tagging
  bump_version.sh
  requirements-dev.txt
  tag.sh
Labels: enhancement

#32 Add python_requires argument for setup.py
  setup.py
Labels: enhancement

#33 Pull in build Workflow Changes from Upstream
  .github/workflows/build.yml
Labels: bugfix

#34 Add schema validation for docopt arguments.
  .github/workflows/build.yml
  .isort.cfg
  setup.py
  src/example/example.py
  tests/test_example.py
Labels: enhancement
