Repository cisagov/skeleton-python-library, pull requests merged in 2023-12, with the labels that each got.

#125 Add a diagnostics job to the CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: improvement, hacktoberfest-accepted, github-actions, kraken 🐙, security

#126 Add support for Python version 3.12 in build workflow
  .github/workflows/build.yml
  setup.py
Labels: improvement, hacktoberfest-accepted, github-actions, kraken 🐙

#127 Add new, disabled dependabot ignore directives
  .github/dependabot.yml
Labels: improvement, dependencies, kraken 🐙
