Repository cisagov/skeleton-python-library, pull requests merged in 2023-01, with the labels that each got.

#114 Pin Python 3.6 testing to Ubuntu 20.04
  .github/workflows/build.yml
Labels: bug, blocked, github_actions

#111 Update the version of the second `bandit` hook
  .pre-commit-config.yaml
Labels: bug, kraken 🐙, test

#115 Add a CodeQL badge and remove LGTM badges from the README
  README.md
Labels: blocked, documentation, improvement

#108 Add two additional PyPI trove classifiers
  setup.py
Labels: blocked, improvement, hacktoberfest-accepted

#104 Fix overly match-happy sed commands
  bump_version.sh
Labels: bug, blocked

#116 Add a GitHub Actions job to test built wheels
  .github/workflows/build.yml
Labels: blocked, improvement

#109 Add support for Python 3.11
  .github/workflows/build.yml
  setup.py
  src/example/_version.py
Labels: blocked, improvement, hacktoberfest-accepted

#117 Add ignore directives to the dependabot configuration
  .github/dependabot.yml
Labels: improvement, dependencies, kraken 🐙
