Repository cisagov/skeleton-python-library, pull requests merged in 2025-01, with the labels that each got.

#144 Remove support for Python 3.7 and 3.8
  .github/workflows/build.yml
  setup.py
Labels: hacktoberfest-accepted, github-actions, kraken 🐙

#138 Add the `--non-interactive` flag when installing type stubs via `mypy`
  setup-env
Labels: improvement, kraken 🐙

#139 Improve pytest configuration
  pytest.ini
Labels: improvement, hacktoberfest-accepted, kraken 🐙

#141 Add `dev` dependencies section
  .pre-commit-config.yaml
  requirements-dev.txt
  setup.py
  src/example/example.py
Labels: blocked, improvement, dependencies, kraken 🐙, python

#142 Remove two unnecessary pins
  setup.py
Labels: improvement, dependencies, hacktoberfest-accepted, kraken 🐙

#143 Support Python 3.13
  .github/workflows/build.yml
  setup.py
Labels: hacktoberfest-accepted, github-actions, kraken 🐙
